<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = localhost; port = 3306; Initial Catalog = shitiku2; user id = root; password = abc@123" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<appSettings>
  <add key="apiUrl" value="http://59.110.24.198:5002/api/"/>
  <add key="apiUrl2" value="http://localhost:62755/api/"/>
</appSettings>
</configuration>
